In [23]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv("/kaggle/input/chi-square-tests/students.csv")
data.head()

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN

In [25]:
cdf = data[["gender", "religion"]]
cdf.head()

   gender    religion
1  Female      Muslim
2  Female       Other
3  Female  Protestant
4    Male       Other
5  Female    Catholic

chi-square test to see if gender and relation has a relation with each other in our date

In [26]:
contingency = pd.crosstab(cdf['gender'], cdf['religion'])
'''print(contingency)
print(type(contingency))'''

contingency['total_gender'] = contingency['Catholic'] + contingency['Muslim'] + contingency['Orthodox'] + contingency['Other'] + contingency['Protestant']
total_religion = {'Catholic' : [2797], 'Muslim': [330], 'Orthodox': [585], 'Other' : [2688], 'Protestant': [1839], 'total_gender':[8239]}
total_religion = pd.DataFrame(total_religion)
contingency = pd.concat([contingency, total_religion])
cintingency = pd.DataFrame(contingency, index=['Female', 'Male', 'total_religion'])
contingency

        Catholic  Muslim  Orthodox  Other  Protestant  total_gender
Female      1356     176       309   1359         910          4110
Male        1441     154       276   1329         929          4129
0           2797     330       585   2688        1839          8239

In [29]:
 expected_table = np.array([[
    (contingency['Catholic'].sum() / 2) *(contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Muslim'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Orthodox'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Other'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Protestant'].sum() / 2) *(contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5]],
    [
    (contingency['Catholic'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Muslim'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Orthodox'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Other'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
    (contingency['Protestant'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
    ]])
    
print(expected_table)

[[1395.274912    164.61949266  291.82546426 1340.90059473  917.37953635]
 [1401.725088    165.38050734  293.17453574 1347.09940527  921.62046365]]

/tmp/ipykernel_33/615247853.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Catholic'].sum() / 2) *(contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Muslim'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Orthodox'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Other'].sum() / 2) * (contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Protestant'].sum() / 2) *(contingency.loc['Female'].sum() / 2) / contingency.iloc[2][5]],
/tmp/ipykernel_33/615247853.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Catholic'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Muslim'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Orthodox'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Other'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],
/tmp/ipykernel_33/615247853.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (contingency['Protestant'].sum() / 2) * (contingency.loc['Male'].sum() / 2) / contingency.iloc[2][5],

In [33]:
chi_2 = 0
for i in range(2):
    for j in range(5):
        chi_2 += ((contingency.iloc[i][j] - expected_table[i][j]) ** 2) / expected_table[i][j]
print(chi_2)

num_rows , num_columns = expected_table.shape
degrees_of_freedom = (num_rows - 1) * (num_columns - 1)
print(degrees_of_freedom)
p_value = 0.17129

6.398671703372064
4

/tmp/ipykernel_33/3781933087.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chi_2 += ((contingency.iloc[i][j] - expected_table[i][j]) ** 2) / expected_table[i][j]

In [36]:
alpha = 0.05
# according to distribution of critical value:
# alpha = 0.05 , degrees of freedom = 4  : critical value = 9.49

if chi_2 > 9.49:
    print('H0 rejected, there is a relation between sex and religion')
else:
    print('H0 accepted, , there is not a relation between sex and religion')
    
if p_value <= alpha:
    print('H0 rejected, there is a relation between sex and religion')
else:
    print('H0 accepted, , there is not a relation between sex and religion')

H0 accepted, , there is not a relation between sex and religion
H0 accepted, , there is not a relation between sex and religion